---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/organisms/Header.astro";
import Footer from "~/components/organisms/Footer.astro";
import EmailList from "~/components/organisms/EmailList.astro";

import { headerData, footerData } from "~/navigation";
import type { MetaData } from "~/types";

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const ctaContent = {
  title: "Build faster websites.",
  description:
    "Pull content from anywhere and serve it fast with Astro's next-gen island architecture.",
  buttonText: "Sign up for a 14-day Trial",
  buttonHref: "#",
};
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <div
    class="intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
    <EmailList {...ctaContent} />
  </div>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
